[Unit]
Description=Build package repository

[Service]
Type=simple
ExecStart=su build -c /home/build/Arch-Autobuild-repo/main.sh build-all
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
