[Unit]
Description=Build package repository

[Service]
Type=oneshot
ExecStart=su build -c "/home/build/Arch-autobuild-repo/main.sh build-all"

[Install]
WantedBy=default.target
